{% extends 'base.html' %}

{% block title %}MG | Marka {% endblock %}
{% block page_title %} Markalar {% endblock %}
{% block pagetitle %} Markalar {% endblock %}
{% load bootstrap4 %}

{% block content %}


{% if pos == 'one' %}

<h2>Markalar</h2>

{% else %}

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-12">

          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Markalar</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>T/r</th>
                    <th>Nomi</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for i in roots %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ i.name }}</td>
                    <td>
                        <a href="{% url 'marks_edit' status='form' pk=i.id %}" title="O'zgartirish" class="btn btn-warning btn-circle btn-sm">
                            <i class="fas fa-pen"></i>
                        </a>
                    </td>

                </tr>
                {% endfor %}

                </tbody>

              </table>
                <br>
                <hr>
        <!--    **********************************************************************************************************  -->
                {% if suggest_status == 'form' %}
                    <div class="row">
                      <!-- left column -->
                      <div class="col-md-12">
                        <!-- general form elements -->
                        <div class="card card-success">


                          <form role="form" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="card-body">
                                <h2 class="form-group text-center">Tezkor Forma</h2>
                                <div class="form-row">

                                    <div class="form-group col-md-4">
                                        {% bootstrap_field form.name %}
                                    </div>

                                </div>
                                <div class="card-footer">
                                <div class="form-row">
                                    <div class="card-action right-align">
                                          <button type="submit" class="btn btn-block btn-success">
                                            <i class="fas fa-check"></i>Saqlash
                                          </button>
                                    </div>
                                    <a href="{% url 'marks' %}">
                                        <div class="card-action ml-1 right-align">
                                              <button type="button" class="btn btn-block btn-info">
                                                    <i class="fas fa-home"></i> Bekor qilish
                                              </button>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            </div>

                          </form>
                        </div>
                      </div>

                    </div>

            <!--    **********************************************************************************************************  -->
                {% endif %}

                {% if suggest_status != 'form' %}
                <div class="pagination">
                    <span class="step-links">
                        {% if roots.has_previous %}
                            <a href="?page=1" class="btn btn-primary btn-sm">&laquo;first</a>
                            <a href="?page={{ roots.previous_page_number }}"  class="btn btn-primary btn-sm">prev</a>
                        {% endif %}

                        <span class="current">
                            Page {{ roots.number }} of {{ roots.paginator.num_pages }}.
                        </span>

                        {% if roots.has_next %}
                            <a href="?page={{ roots.next_page_number }}" class="btn btn-primary btn-sm">next</a>
                            <a href="?page={{ roots.paginator.num_pages }}" class="btn btn-primary btn-sm">last&raquo;</a>
                        {% endif %}
                    </span>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xl-6 col-md-6 mb-4">
                        <a href="{% url 'marks_add' status='form' %}" class="btn btn-success" >
                            <span class="icon text-white-50">
                                <i class="fas fa-check"></i>
                            </span>
                            <span class="text">Yangi qo'shish</span>
                        </a>
                        <a href="{% url 'home' %}"  class="btn btn-info" >
                           <span class="icon text-white-50">
                                <i class="fas fa-home"></i>
                            </span>
                            <span class="text">Bosh Menu</span>
                       </a>
                    </div>
                </div>
                {% endif %}
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->




{% endif %}
{% endblock %}